/* Styles for the email form container */
.email-div {
    max-width: 400px;
    margin: 20px auto;
    /* Add margin to create space around the container */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styles for headings */
h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/* Styles for form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Styles for form input */
input[type="email"] {
    width: calc(100% - 22px);
    /* Adjust width to account for padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 15px;
}

/* Styles for submit button */
button[type="submit"] {
    width: 100%;
    /* Make button full width */
    margin-top: 10px;
    /* Add space between input field and button */
    padding: 10px 0;
    /* Adjust padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
}

/* Styles for submit button on hover */
button[type="submit"]:hover {
    background-color: #0056b3;
}